@import '../../styles/variables';

.icon-button {
    border: $light-button-border;
    background: $global-color-8594ebd;
    color: $global-color-text;
    font-weight: bold;
    padding: 3px;
    height: $control-height;
    margin: 0 4px;
    box-shadow: $control-box-shadow;

    svg {
        height: 30px;
        width: 30px;
    }

    &:hover {
        background: $global-color-1480f0a;
    }

    &.selected {
        background: $global-color-primary;
        border: $primary-button-border;
        pointer-events: none;
    }
}
