$global-color-primary: #add8e6;
$global-color-secondary: #54595f;
$global-color-text: #7a7a7a;
$global-color-accent: #61ce70;
$global-color-1480f0a: #99d4da;
$global-color-88df229: #fdfbf0;
$global-color-01684c4: #ffffff;
$global-color-8594ebd: #f2f2f2;

$ast-global-color-0: #0274be;
$ast-global-color-1: #3a3a3a;
$ast-global-color-2: #3a3a3a;
$ast-global-color-3: #4b4f58;
$ast-global-color-4: #f5f5f5;
$ast-global-color-5: #ffffff;
$ast-global-color-6: #f2f5f7;
$ast-global-color-7: #424242;
$ast-global-color-8: #000000;

$secondary-button-border: 1px solid $global-color-secondary;
$light-button-border: 1px solid $global-color-text;
$primary-button-border: 1px solid $ast-global-color-0;

$control-height: 38px;
$control-width: 200px;
$control-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
