@import '../../styles/variables';

.font-picker-container {
    position: relative;
    display: inline-block;
    width: $control-width;

    .dropdown-button {
        border: $light-button-border;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: $control-height;
        width: $control-width;
        padding: 0 10px;
        background: $global-color-8594ebd;
        color: $global-color-text;

        .dropdown-font-family {
            overflow: hidden;
            white-space: nowrap;
        }

        .dropdown-icon {
            margin: 0;
            padding: 0;
            margin-left: 10px;

            &::before {
                display: block;
                width: 0;
                height: 0;
                margin: 0 2px;
                border-top: 6px solid $global-color-text;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                transition: transform 0.3s;
                content: '';
            }

            &.expanded {
                &::before {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

.font-list {
    list-style: none;
    position: absolute;
    z-index: 1;
    width: $control-width;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: $global-color-8594ebd;
    color: $global-color-text;
    box-shadow: $control-box-shadow;
    transition: 0.3s;

    .font-list-item {
        display: flex;
        justify-content: flex-start;

        .font-list-btn {
            width: 100%;
            border: none;
            padding: 10px;

            &:hover {
                background: $global-color-1480f0a;
            }
        }
    }
}
