@import '../../styles/variables';

.container {
    position: relative;
    display: inline-block;
    box-shadow: $control-box-shadow;
    width: $control-width;

    .picker-btn {
        border: $light-button-border;
        background: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $control-height;
        width: $control-width;
        padding: 0 10px;
        background: $global-color-8594ebd;
        color: $global-color-text;
        font-weight: bold;

        .dropdown-icon {
            margin: 0;
            padding: 0;
            margin-left: 10px;

            // &::before {
            //     display: block;
            //     width: 0;
            //     height: 0;
            //     margin: 0 2px;
            //     border-top: 6px solid $global-color-text;
            //     border-right: 5px solid transparent;
            //     border-left: 5px solid transparent;
            //     transition: transform 0.3s;
            //     content: '';
            // }

            // &.expanded {
            //     &::before {
            //         transform: rotate(-180deg);
            //     }
            // }
        }
    }

    .colors-list {
        list-style: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background: $global-color-8594ebd;
        color: $global-color-text;
        box-shadow: $control-box-shadow;
        transition: 0.3s;

        .colors-list-item {
            display: flex;
            justify-content: flex-start;

            .colors-list-btn {
                width: 100%;
                border: none;
                padding: 10px;

                &:hover {
                    background: $global-color-1480f0a;
                }
            }
        }
    }
}

.color-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .color {
        height: 20px;
        width: 20px;
    }

    .label {
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        flex: 0;
    }
}
