@import './styles/variables';

.App {
    padding: 20px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    width: 100%;

    font-family: 'Assistant', Sans-serif;
    font-weight: 600;
    word-spacing: 0.1em;

    color: $global-color-text;

    .column-1 {
        position: relative;
        direction: ltr;
        padding: 8px;
        flex: 1;
    }
    .column-2 {
        padding: 8px;
        flex: 0 0 300px;
    }
}

@media only screen and (max-width: 800px) {
    .App {
        flex-direction: column;
    }
}
