@import 'styles/fonts';
@import 'styles/normalize';

.control {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    .label {
        direction: rtl;
        margin-bottom: 7px;
        width: 100%;
    }
    .additional-info {
        width: 100%;
        margin: 0;
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 800px) {
    .control {
        padding: 5px 0;
    }
}
