@import 'styles/fonts';
@import 'styles/normalize';

.control {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    .label {
        direction: rtl;
        margin-bottom: 7px;
        width: 100%;
    }
}
